<?xml version="1.0"?>
<config>
  <modules>
    <Shopferret_Shopferretxmlimport>
      <version>0.1.0</version>
    </Shopferret_Shopferretxmlimport>
  </modules>
  <frontend>
    <routers>
      <shopferretxmlimport>
        <use>standard</use>
          <args>
            <module>Shopferret_Shopferretxmlimport</module>
            <frontName>shopferretxmlimport</frontName>
          </args>
      </shopferretxmlimport>
    </routers>
		<layout>
		  <updates>
			<shopferretxmlimport>
			  <file>shopferretxmlimport.xml</file>
			</shopferretxmlimport>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <shopferretxmlimport>
        <class>Shopferret_Shopferretxmlimport_Helper</class>
      </shopferretxmlimport>
    </helpers>
	<models>
	  <shopferretxmlimport>
		<class>Shopferret_Shopferretxmlimport_Model</class>		
	  </shopferretxmlimport>
	</models>
	<blocks>
	  <shopferretxmlimport>
		<class>Shopferret_Shopferretxmlimport_Block</class>
	  </shopferretxmlimport>
	</blocks>
	<resources>
	  <shopferretxmlimport_setup>
		<setup>
		  <module>Shopferret_Shopferretxmlimport</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </shopferretxmlimport_setup>
	  <shopferretxmlimport_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </shopferretxmlimport_write>
	  <shopferretxmlimport_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </shopferretxmlimport_read>
	</resources>
	<events>
		<controller_action_layout_generate_blocks_after>
			<observers>
				<Shopferret_Shopferretxmlimport_Model_Observer>
					<type>singleton</type>
					<class>Shopferret_Shopferretxmlimport_Model_Observer</class>
					<method>addJavascriptBlock</method>
				</Shopferret_Shopferretxmlimport_Model_Observer>
			</observers>
		</controller_action_layout_generate_blocks_after>
		<catalog_product_delete_after>
			<observers>
				<Shopferret_Shopferretxmlimport_Model_Observer>
					<type>singleton</type>
					<class>Shopferret_Shopferretxmlimport_Model_Observer</class>
					<method>productActionsDelete</method>
				</Shopferret_Shopferretxmlimport_Model_Observer>
			</observers>
		</catalog_product_delete_after>
		<catalog_product_save_after>
			<observers>
				<Shopferret_Shopferretxmlimport_Model_Observer>
					<type>singleton</type>
					<class>Shopferret_Shopferretxmlimport_Model_Observer</class>
					<method>productActionsUpdate</method>
				</Shopferret_Shopferretxmlimport_Model_Observer>
			</observers>
		</catalog_product_save_after>
		<catalog_product_status_update>
			<observers>
				<Shopferret_Shopferretxmlimport_Model_Observer>
					<type>singleton</type>
					<class>Shopferret_Shopferretxmlimport_Model_Observer</class>
					<method>productActionsUpdate</method>
				</Shopferret_Shopferretxmlimport_Model_Observer>
			</observers>
		</catalog_product_status_update>
		<sales_order_place_after>
			<observers>
				<Shopferret_Shopferretxmlimport_Model_Observer>
					<type>singleton</type>
					<class>Shopferret_Shopferretxmlimport_Model_Observer</class>
					<method>orderActionsUpdate</method>
				</Shopferret_Shopferretxmlimport_Model_Observer>
			</observers>
		</sales_order_place_after>
		<checkout_submit_all_after>
			<observers>
				<Shopferret_Shopferretxmlimport_Model_Observer>
					<type>singleton</type>
					<class>Shopferret_Shopferretxmlimport_Model_Observer</class>
					<method>orderActionsUpdate</method>
				</Shopferret_Shopferretxmlimport_Model_Observer>
			</observers>
		</checkout_submit_all_after>
	  </events>
  </global>	
  <crontab>
        <jobs>            
			<shopferretxmlimport_cronupdate>
                <schedule><cron_expr>5 0 * * *</cron_expr></schedule>
                <run><model>shopferretxmlimport/cron::discountindex</model></run>
            </shopferretxmlimport_cronupdate>
        </jobs>
    </crontab>  
</config> 